<body class="signup-page sidebar-collapse">


<div class="page-header header-filter" filter-color="black">
    <div class="page-header-image" style="background-size: cover; background-image:url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); filter: blur(2px) grayscale(30%)"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                          <h5 class="info-title"  style="color:white">Trouver LA bonne asso</h5>
                          <p class="description">
                            Envie de vous engager?
                            Une recherche avancée pour trouver l'association qui vous convient.
                          </p>
                        </div>
                    </div>

                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title" style="color:white">En un clin d'oeil</h5>
                            <p class="description">
                              Trouvez les informations principales de chaque asso en quelques clicks.
                            </p>
                        </div>
                    </div>


                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                          <i class="fa fa-link" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title" style="color:white">Entrer en contact</h5>
                            <p class="description">
                              Une messagerie directe vers les assos qui vous intéressent.
                            </p>
                        </div>
                    </div>
                </div>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="col-md-4 mr-auto">

                    <div class="card card-signup" style="padding: 10px">
                        <div class="card-body">
                        </br>
                            <h3 class="card-title text-center" style="color:black;">S'enregistrer</h3>
                            <div class="social text-center">
                                <button class="btn btn-icon btn-round btn-twitter">
                                    <i class="fab fa-twitter"></i>
                                </button>
                                <button class="btn btn-icon btn-round btn-dribbble">
                                    <i class="fab fa-dribbble"></i>
                                </button>
                                <button class="btn btn-icon btn-round btn-facebook">
                                    <i class="fab fa-facebook"> </i>
                                </button>
                                <h5 class="card-description"> ou créer un compte </h5>
                            </div>

                              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                                <div class="input-group field">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-at" style="color:gray"></i></span>
                                  </div>
                                  <%= f.email_field :email, autofocus: true, :type => "text", :class => "form-control", placeholder: "Email...", autocomplete: "email" %>
                                </div>

                                <div class="input-group field">

                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key" style="color:gray"></i></span>
                                  </div>
                                  <%= f.password_field :password, :class => "form-control", placeholder: "Mot de passe...", autocomplete: "new-password" %>

                                </div>

                              <p style="color:gray; font-size:1em" ><em><% if @minimum_password_length %>
                              (<%= @minimum_password_length %> caractères minimum)</em></p>
                                <% end %>

                                <div class="input-group field">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key" style="color:gray"></i></span>
                                  </div>
                                  <%= f.password_field :password_confirmation, :class => "form-control", placeholder: "Confirmation du mot de passe...", autocomplete: "password_confirmation" %>
                                </div>


                                <div class="card-footer text-center">
                                  <%= f.submit "S'enregistrer", :class => "btn btn-primary btn-round btn-lg" %>
                                </div>
                                <% end %>
                                <p><%= link_to "Se connecter", new_session_path(resource_name) %></p>

                        </div>
                    </div>

                  <%= render "devise/shared/links" %>

                </div>
            </div>
        </div>
    </div>
  </div>
</body>
