<% content=[] %>
<div class="col-md-4">
  <% @message_recipient.each do |recipient| %>
  <div class="card-image">
    <% if content.include?(recipient.recipient_id) != true  %>
    <%if user_info(recipient.recipient_id).profile_pic.attached? == true   %>
    <%= image_tag user_info(recipient.recipient_id).profile_pic , class:"rounded-circle " ,style:"max-width:70px;"%>
    <% else %>
     <%= image_tag "user.png", class:"rounded-circle" ,style:"max-width:70px;" %>
    <% end %>


     <% if user_info(recipient.recipient_id).first_name == nil %>
    <% name = "email: #{user_info(recipient.recipient_id).email}" %>
    <% else %>
    <% name= user_info(recipient.recipient_id).first_name %>
    <% end %>
    <%= link_to name, asso_privates_message_privates_message_path(recipient.sender_id ,recipient.sender_id, current_user.id), class:"btn btn-primary btn-outline-primary btn-round" %>
    <% end %>
  </div>
  <% content <<  recipient.recipient_id %>
  <% end %>
</div>
</div>
<div class="col-md-4">
  <% @message_sent.each do |sent| %>
  <div class="card-image">
    <% if content.include?(sent.recipient_id) != true  %>
    <%if user_info(sent.recipient_id).profile_pic.attached? == true   %>
    <%= image_tag user_info(sent.recipient_id).profile_pic , class:"rounded-circle " ,style:"max-width:70px;"%>
    <% else %>
     <%= image_tag "user.png", class:"rounded-circle" ,style:"max-width:70px;" %>
    <% end %>

    <% if user_info(sent.recipient_id).first_name == nil %>
    <% name = "email: #{user_info(sent.recipient_id).email}" %>
    <% else %>
    <% name = user_info(sent.recipient_id).first_name %>
    <%end%>
    <%= link_to name , asso_privates_message_privates_message_path(sent.recipient_id ,sent.recipient_id, current_user.id), class:"btn btn-primary btn-outline-primary btn-round" %>
    <% end %>
  </div>
  <% content << sent.recipient_id %>
  <% end %>
</div>
<div class="col-md-10" style="height:600px;">
  </div>
