<% i=0 %>



<%if @recipient.profile_pic.attached? == true%>
<%= image_tag @picture_recipient %>
<% end %>


<% while (@conversation_recipient.length > i || @conversation_sender.length > i)  %>


  <div class="picture" style="float:left; border-radius:50">
    <%if @sender.profile_pic.attached? == true &&  @conversation_sender[i].content != nil  %>
    <%= image_tag @picture_sender %>
    <% end %>
  </div>
<div class="container" style=" width:60%">
  <div class="container col-md-8 order-md-1" >
    <% if  @conversation_sender[i].content != nil  %>
    <a class="pull-left"
    <div class="avatar" >
      </div>
  </a>
  <div class="media-body" style="background-color: #d7d7d7; border-radius: 10px; margin-right:20%">
    <h5 class="media-heading" style="margin-left:1.5%;" ><%=  @sender.first_name  %> </h5>

    <p style="margin-left:5%;">
    <%= @conversation_sender[i].content  %></p>
    <% end  %>
    <% if  @conversation_recipient[i] != nil %>
  </div>
  
  <a class="pull-left" style="text-align: right;" >
    <div class="avatar">
    </div>
    <div class="media-body" style="background-color: #bab8b7; border-radius: 10px; margin-left: 20%">
      <h5 class="media-heading"style="margin-right:1.5%";> <%=  @recipient.first_name  %> </h5>
      <p style="margin-right:5%;">  <%= @conversation_recipient[i].content %></p>
    </a>


    <% end %>
    </div>
</div>
    <% i+=1 %>
    <% end  %>

    </div>
  </div>
</div>
</div>
<br>
<div class="container col-md-8 order-md-1" >
  <%= form_tag url_for(action: 'create'),multipart: true,  method: "post" do %>
  <div class="form-group">
    <%= text_area_tag 'content', @message.content, class: "form-control", placeholder:"Entre 20 et 2000 caractères" %>
    <br />
  </div>
  <div class="form-group">
    <%= submit_tag "Envoyer ton message", class: "btn btn-primary" %>
  </div>
</div>
<% end %>


</div>
