
<div class="container col-md-8 order-md-1" style="background:white; padding:20px">
  <h1>Créer mon asso</h1>

<%= form_tag url_for(action: 'create'),multipart: true, method: "post" do %>

<div class="form-group">
    <span><label><%= label_tag 'Nom de ton asso' %></label><span>
    <%= text_field_tag 'name', @asso.name, class: "form-control", placeholder:"Entre 3 et 14 caractères" %>
    <br />
</div>
<div class="form-group">
    <span><label><%= label_tag 'Adresse de ton asso' %></label><span>
    <%= text_field_tag 'address', @asso.address, class: "form-control", id:"address-input", placeholder:"145 Cours Lafayette 69006 Lyon" %>
    <br />
</div>
<div class="form-group">
    <span><label><%= label_tag 'Description de ton association' %></label><span>
    <%= text_area_tag 'description', @asso.description, class: "form-control", placeholder:"Entre 20 et 2000 caractères"  %>
    <br />
</div>
<div class="form-group">
    <span><label><%= label_tag 'Tes chiffres clés' %></label><span>
    <%= text_area_tag 'key_figures', @asso.key_figures, class: "form-control", placeholder:"Date de création, nombre d'employés..." %>
    <br />
</div>
<div class="form-group">
    <span><label><%= label_tag 'Les infos pratiques' %></label><span>
    <%= text_area_tag 'infos', @asso.infos, class: "form-control", placeholder:"Horaires d'ouvertures, site web, réseaux sociaux..." %>
    <br />
</div>
<div class="typography-line"

    <span><label>Ajouter vos photos : <small>(3 photos obligatoires)</small></label></span>
    <br>
  Photo 1 <%= file_field_tag :picture1 %><br><br>
  Photo 2 <%= file_field_tag :picture2 %><br><br>
  Photo 3 <%= file_field_tag :picture3 %><br><br>
  Photo 4 <%= file_field_tag :picture4 %><br><br>
  Photo 5 <%= file_field_tag :picture5 %>
  <br>
</div>
<center>
  <br>
<div class="form-group">
<%= submit_tag "Créer ton association", class: "btn btn-info" %>
</div>
</div>

<% end %>




<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.1"></script>
<script>
  var placesAutocomplete = places({
    appId: 'pl4L6NQ4MY9D',
    apiKey: '9a02a9891a049118874934d98e742cfc',
    container: document.querySelector('#address-input')
  });
</script>
