<div class="container col-md-8 order-md-1">
<%= form_tag url_for(action: 'create'),multipart: true, method: "post" do %>

<div class="form-group">
    <%= label_tag 'Nom de ton asso :' %>
    <%= text_field_tag 'name', @asso.name, class: "form-control", placeholder:"Entre 3 et 14 caractères" %>
    <br />
</div>
<div class="form-group">
    <%= label_tag 'Adresse de ton asso :' %>
    <%= text_field_tag 'address', @asso.address, class: "form-control", placeholder:"145 Cours Lafayette 69006 Lyon" %>
    <br />
</div>
<div class="form-group">
    <%= label_tag 'Description de ton association :' %>
    <%= text_area_tag 'description', @asso.description, class: "form-control", placeholder:"Entre 20 et 2000 caractères"  %>
    <br />
</div>
<div class="form-group">
    <%= label_tag 'Tes chiffres clés' %>
    <%= text_area_tag 'key_figures', @asso.key_figures, class: "form-control", placeholder:"Date de création, nombre d'employés..." %>
    <br />
</div>
<div class="form-group">
    <%= label_tag 'Les infos pratiques :' %>
    <%= text_area_tag 'infos', @asso.infos, class: "form-control", placeholder:"Horaires d'ouverture, site web, réseau sociaux..." %>
    <br />
</div>

    <h3>Ajouter des photos :</h3>

<%= file_field_tag :picture1 %>
<%= file_field_tag :picture2 %>
<%= file_field_tag :picture3 %>
<%= file_field_tag :picture4 %>
<%= file_field_tag :picture5 %>


<div class="form-group">
<%= submit_tag "Créer ton association", class: "btn btn-primary" %>
</div>
</div>

<% end %>
