<% if  @asso.validated == true || @asso.owner_id == current_user.id %>
<body class="product-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header page-header-mini">
      <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1509697452888-7cdcf2c98813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80'); filter: grayscale(80%) blur(1px)">
      </div>
    </div>



    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-5">



            <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000" >
              <% if @asso.picture1.attached? == true %>
              <%= image_tag @asso.picture1 %>
              <% else %>
              <%= image_tag ('logo-tuba.png')%>
              <% end %>
            </div>


            <p class="blockquote blockquote">
              "Moto de l'association, à intégrer au moment de la création de l'association ou à éditer dans la page édit. "<br><br>
              <small><%= @asso.owner.first_name%> <%= @asso.owner.last_name%></small>
            </p>
          </div>


          <div class="col-md-6 ml-auto mr-auto">
            <h2 class="title"><%= @asso.name%></h2>
            <h5 class="category">Association de ...</h5>

            <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
              <div class="card card-plain">
                <div class="card-header" role="tab" id="headingOne">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Description
                    <i class="fas fa-chevron-down" style="color:gray"></i>
                  </a>
                </div>

                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-body">
                    <p><%= @asso.description%></p>
                  </div>
                </div>
              </div>
              <div class="card card-plain">
                <div class="card-header" role="tab" id="headingTwo">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Chiffres clés
                    <i class="fas fa-chevron-down" style="color:gray"></i>
                  </a>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-body">
                    <p><%=  @asso.key_figures %></p>
                  </div>
                </div>
              </div>
              <div class="card card-plain">
                <div class="card-header" role="tab" id="headingThree">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Infos pratiques
                    <i class="fas fa-chevron-down" style="color:gray"></i>
                  </a>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-body">

                    <p>  <%=  @asso.infos %></p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="section">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center mr-5">
          <h2 class="title">Ce qu'on y fait</h2>
          <h4 class="description">Besoin de plus d'informations? Regardez ce qu'en pensent les gens avec qui on travaille !</h4>
        </div>
      </div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">

            <div class="image-container image-left" style="height:298px;">
              <% if @asso.picture2.attached? == true %>
              <%= image_tag @asso.picture2, :class => "image-container" %>
              <% else %>
              <%= image_tag ('giving_hand.jpg'), :class => "image-container" %>
              <% end %>
              <!-- First image on the left side -->
              <p class="blockquote blockquote">"Super expérience au Tuba ! Une super équipe et un super lieu de travail."
                <br>
                <br>
                <small> - Lucie</small>
              </p>
            </div>
            <!-- Second image on the left side of the article -->
            <div class="image-container" style="height:auto;">
              <% if @asso.picture3.attached? == true %>
              <%= image_tag @asso.picture3, :class => "image-container"  %>
              <% else %>
              <%= image_tag ('hands.jpg'), :class => "image-container" %>
              <% end %></div>

            </div>
            <div class="col-md-4 ml-auto mr-auto">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right"style="height:298px;">
                <% if @asso.picture4.attached? == true %>
                <%= image_tag @asso.picture4, :class => "image-container" %>
                <% else %>
                <%= image_tag ('gens_contents.jpg'), :class => "image-container" %>
                <% end %></div>
                <h3><%= @asso.name %> c'est quoi?</h3>
                <p>Le TUBÀ, lieu d’innovation et d’expérimentation pour la ville de demain, est porté par l’association Lyon Urban Data. Il favorise l’innovation, l’incubation et le développement de services urbains s’appuyant sur les données numériques privées et publiques.
                </p>
                <p>
                  L’association fédère quarante partenaires publics et privés et met en avant une démarche collaborative et participative. Il s’y rencontre collectivités, grands groupes, PME, startup, laboratoires de recherches et citoyens pour collaborer au sein du TUBÀ pour concevoir et expérimenter des solutions innovantes afin de bien vivre en ville.

                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="main" style="padding-bottom:10px">
          <div class="contact-content">
            <div class="container">
              <div class="row">
                <div class="col-md-5 ml-auto mr-auto">
                <center>  <h2 class="title">Nous contacter</h2>
                  <p class="description">N'hésitez pas à nous contacter pour toute information sur nos activités.<br><br>
                  </p>
                  <div class="form-group">
                    <% if news.where(asso_id: assos.where(owner_id: current_user.id ).first.id).first == nil %>
\
                    <%= link_to "creer News", new_asso_news_path(assos.where(owner_id: current_user.id).first.id), class:"btn btn-info btn-outline-info"%>
                    <% end %>

                </div>



                    <div class="form-group">
                      <% if PrivateMessage.where(sender_id: current_user.id, recipient_id:  assos.find(params[:id]).owner_id).first != nil %>
                        <%= link_to "Voir la conversation", asso_privates_message_privates_message_path(params[:id] , PrivateMessage.where(sender_id: current_user.id, recipient_id:  assos.find(params[:id]).owner_id).first.recipient_id, current_user.id), class:"btn btn-info btn-outline-info" %>
                        <% else %>
                        <%= link_to "Envoyer un message", new_asso_privates_message_privates_message_path(params[:id], assos.find(params[:id]).owner_id, current_user.id ), class:"btn btn-info btn-outline-info"%>
                        <% end %>
                        </div>



                  </center>

                </div>


              </div>
            </div>
          </div>
        </div>


        <div id="macarte" style="width:1110px; height:400px"></div>

      </div>

    </div>
  </div>







  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

  <script>
  var carte = L.map('macarte').setView([<%= @asso.latitude %>, <%= @asso.longitude %>], 15);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(carte);
  var marker = L.marker([<%= @asso.latitude %>, <%= @asso.longitude %>]).addTo(carte);
  </script>

  <%if assos.where(owner_id: current_user.id ).first.id == assos.find(params[:id]).id && @asso.subscription == nil %>

  <a class="float-pay">
      <%= form_tag subscriptions_path do %>
      <article>
        <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
        <% end %>
      </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button float-pay"
        data-label="Payer la souscription"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-image=""
        data-description="Souscription pour un an"
        data-amount="100"
        data-currency="eur"
        data-locale="auto">
        </script>
      <% end %>
  </a>
  <% end %>


  <%if assos.where(owner_id: current_user.id ).first.id == assos.find(params[:id]).id %>
      <%= link_to "Éditer ma page asso", edit_asso_path, class:"float-right btn btn-info btn-lg"%>

      <% end %>



<% end %>

</body>
