<!DOCTYPE html>
<html>
  <head>
    <title>Lasso Dashboard</title>
      <%= render 'layouts/head' %>
      <%= favicon_link_tag asset_path('favicon-lasso.png') %>

  </head>
  <body>
    <header>
        <%= render 'layouts/navbar_admin' %>
        <%= render 'layouts/alerts' %>
    </header>
    <div class="container"
      <%= yield %>
    </div>
  </body>
</html>
