<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
    </head>
  <body>
    <header>
        <%= render 'layouts/navbar' %>
        <%= render 'layouts/alerts' %>
    </header>

    <%- if controller_name != 'sessions' && controller_name != 'registrations'%>
    <div class="container">
      <%= yield %>
    </div>
    <% else %>
      <%= yield %>
    <% end %>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
